<div>
<style type="text/css">

body {
    overflow-x: hidden;
}

#slideout {
	background-image:url('/assets/navy_blue.png');
	position: fixed;
	width: 298px;
	height: 600px;
	right: -285px;
	padding-left: 0px;
	margin-top: -200px;
	z-index: 5;
	border-radius: 5px;
	opacity: 0.98;
	top: 260px;
	overflow-y: scroll;
	overflow-x: hidden;
}
    
.crazy {
	position: fixed;
	margin-top: 80px;
	width: 150px;
	background-color: #e74c3c;
	height: 50px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	margin-left: -100px;
	-webkit-transform: rotate(-90deg);
	top: 8%;
	right: -3%;
	z-index: 400;
}

#baz {
    color: white;
    font-size: 2em;
    /*padding: auto;*/
    font-family: 'Lato', sans-serif;
}

.crazy:hover {
    background-color: rgb(168, 54, 43);
}

#slidecontent {
    float:left;
    z-index: 5;
}

.queued-job {
	border-bottom: 1px dotted white;
	width: 310px;
	min-height: 100px;
	margin-left: 20px;
	float: left;
}
/*.queued-job p{
	border: 1px dotted white;
		width: 150px;
		height: 80px;
	}

.queued-job h5{
	border: 1px dotted white;
		width: 150px;
		height: 80px;
	}*/

.queued-job div{
	/*border: 1px dotted white;*/
	width: 150px;
	float: left;
	/*height: 90px;*/
	}

</style>
<body>
	<div class="crazy">
    <a id="baz">Queue</a>
	</div>
	<div id="slideout">
	    <div id="slidecontent">
				<% user.jobs.each do |job| %>
					<li class="queued-job" id="<%= job.id %>" style="list-style: none;">
						<div>
							<h5 style="color: white; font-family: 'Lato', sans-serif;"><a href="/jobs/<%=job.id%>"><%= job.name %></a></h5>
							<p style="color: white; font-family: 'Lato', sans-serif;"><%= job.company %></p>
						</div>
						<div class="buttons">
							<p style="color: white; margin-top: 5px;">Status: <%=JobList.find_by_job_id_and_list_id(job.id, current_user.list.id).status%></p>
						</div>
					</li>
				<%end%>
	    </div>
	</div>
</body>
</div>