.job_show
  .title
    %h1.job_title= @job.name
    .add_button
      %a{href: "/add_to_queue/#{@job.id}"}
      -if current_user.jobs.include?(@job)
        %button{:class => 'remove_from_queue', :id => @job.id} Remove
      -else
        %a{href: "/add_to_queue/#{@job.id}"}
          %button{:class => 'show_add_to_queue', :id => @job.id} Add To Queue 
  .job-description
    %h4.company_name= @job.company
    %p.description= @job.description
  %p Apply here:
  %a{:href => @job.source_url, :target => :_blank }=@job.source_url
