%html
  %head
    %title JobHopper
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "custom"
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
    = csrf_meta_tags
    %link{href: 'http://fonts.googleapis.com/css?family=Lato', rel:'stylesheet', type:'text/css'}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel:"stylesheet"}
    %link{href: 'http://fonts.googleapis.com/css?family=Montserrat+Subrayada', rel:'stylesheet', type:'text/css'}
  %body
    #wrapper
      =render 'shared/header'
      .container
        :javascript
          if (navigator.geolocation)
          {
            navigator.geolocation.getCurrentPosition(sendPositionToServer);
          }
          else
          {
            x.innerHTML="Geolocation is not supported by this browser.";
          }
          function sendPositionToServer(position)
          {
            $.ajax({
              method: 'post',
              url: '/user_locations',
              data: { "lat":"" + position.coords.latitude + "", "lng": "" + position.coords.longitude + "" }
            })
          }
        .notifications
          =render :partial => 'notifications/dropdown', locals: {user: current_user }
        =render :partial => 'static_pages/queue', locals: {user: current_user}
        =render 'shared/alerts'
        = yield
      = render 'shared/footer'
