%html
  %head
    %title Test App
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "custom"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      =render 'shared/header'
      .container  
        =render 'shared/alerts'
        = yield
      =debug(params) if Rails.env.development?
      = render 'shared/footer'
